/* Esto es un comentario */
/* font-family "" */

/* *{} Selector universal - Aplica a todos los elementos de la página */
* {
   margin: 5px;
   padding: 5px;
}

/* -----------------------------INDEX.HTML------------------------------------- */

/* Selector de etiqueta */
body {
    background-color: pink;
    /* Fuente predeterminada */
    margin: 0;
    /* Eliminar márgenes predeterminados */
    padding: 0;
    /* Eliminar relleno predeterminado */
}
header {

    width: auto;
    height: auto;    
    background-color: white;
    display: flex;
    /* place-content: space-between; */
}

header img{
    width: 10%;
    height: 10%;
    display: flex;
    /* place-content: space-between; */
}
header ul {
    list-style-type: none ;
    margin: 0px;
    padding: 5%;
    display: flex;
    text-align: center;
    /* place-content: space-between; */
}


a{
    color: black;
    text-decoration: none;
}
a:hover{font-weight: bold;}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 0px;
    color: black;
    
}

 /* Selector de Clase - Se puede reutilizar en varios elementos */



.encabezado{

}




.bienvenida1 {
    text-align: center;
    /*texto de bienvenida del index centrado*/
    margin-left: 300px;
    margin-right: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position:relative;
    margin-top: 50px;
    
}

.bienvenida2 {
    text-align: center;
    /*texto de bienvenida del index centrado*/
    padding-left: 15%;
    padding-right: 15%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.subtitulo {
    margin-left: 5px;
    color: black;
    font-weight: bold;
    /*negrita en los subtitulos*/
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.manicuria {
    background-color: papayawhip;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    border-radius: 30px;
}

.podologia {
    background-color: papayawhip;
    text-align: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 30px;
}

.masajes {
    background-color: papayawhip;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 30px;
}

.footer {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: pink;
    height: 100px;
}

/* Selector de ID - No se puede reutilizar */
/* Voy utilizar un ID cuando quiero aplicar una propiedad solamente a un unico elemento */


/* HTML TE DEJA PERO NO ES UNA BUENA PRACTICA */

#FotosProductosySevicios{


}

/* -----------------------------CONTACTO.HTML------------------------------------- */
#formulario {
    background-color: papayawhip;

}

/* -----------------------------PRODUCTOSYSERVICIOS.HTML-------------------------- */

*{
    margin: 0;
    padding: 0;
}
body{
    background: pink;
    color: #000;
    font-family: 'Roboto', sans-serif;
}


header img{
    width: 100px; /* Ajusta el ancho del logo */
    height: auto; /* Este me permite que la altura se ajuste automáticamente */
    display: block; /* Lo use para eliminar cualquier espacio en blanco debajo del logo */
    margin: 0 auto; /* Lo use para centrar el logo horizontalmente */
}
header ul{
    list-style-type: none;
    list-style-position: inherit;
    margin: auto;
    padding: 0; /* Lo que hago es eliminar el relleno interior para evitar espacios adicionales */
    display: flex; /* Utilizo flexbox para alinear los elementos del menú */
    justify-content:space-around; /*Me distribuye los elementos de equitativa */
    align-items: center; /* Centra verticalmente los elementos */
    font-size: 14 px; /*Ajusta el tamaño de la fuente*/

}

header ul li{
    margin: 0px; /*Ajusta el espacio entre los elementos del menu */
}

/* Lo puse para agregar un margen a los elementos del menú para poder separarlos */
header ul li:not(:last-child) {
    margin-right: 0px; /* Me ajusta el espacio entre los elementos del menú */
}

a{
    color: black;
    text-decoration: none;
}
a:hover{font-weight: bold;}

/* Oculta el menú */
.menu {
    display: none;
    flex-direction: column; /* Esto lo que hace es cambiar la dirección para poner uno debajo de los otros los elementos */
    align-items: center; /* Alinea horizontalmente en el centro */
    background: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1; /* Asegura que el menú esté en la parte superior */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Agrega sombra */
}

/* Estilos para los elementos del menú */
.menu ul {
    display: none;
}

.menu li {
    margin: 10px 0; /* Espacio vertical entre elementos */
}

.contenedor{
    width: 90%;
    max-width: 1000px; /*ancho máximo de la página*/
    margin: 20px auto; /*auto permite centrar nuestra página en forma horizontal*/
    display: grid;
    gap: 20px; /*nos ahorramos tenes que poner márgenes entre los elementos*/
    /*3 columnas: contenido (con 2 widgets) + sidebar*/
    grid-template-columns: repeat(3,1fr);
    /*4 filas: header, contenido, widgets, footer*/
    grid-template-rows: auto auto auto auto;
    grid-template-areas:"encabezado encabezado encabezado"
                        "contenido contenido sidebar"
                        "widget-1 widget-2 sidebar"
                        "pie pie pie";
}

.contenedor > div,
.contenedor .encabezado,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .pie {
    padding: 20px;
    border-radius: 4px;
}

.contenedor .encabezado{
    background:white;
    color: black;
    grid-area: encabezado;
    list-style: inside;
}

.contenedor .contenido{
    background: papayawhip;
    grid-area: contenido; 
}

.contenedor .sidebar{
    background: papayawhip;
    /*utilizamos flexbox para alinear el contenido*/
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: sidebar; 
}

/* Estilos para el sidebar */
.sidebar {
    background: #f2f2f2;
    padding: 20px;
}

  /* Estilos para los enlaces de noticias */
.sidebar ul {
    list-style: none;
    padding: 0;
}

/* Estilos para cada elemento de la lista (noticia) */
.sidebar ul li {
    margin: 10px 0;
    display: block; /* Hace que cada elemento de lista sea un bloque */
}

.sidebar ul li a {
    color: #333;
    text-decoration: none;
}

.sidebar ul li a:hover {
    font-weight: bold;
}

.contenedor .widget-1,
.contenedor .widget-2{
    background: papayawhip;
    color: #000;
    display: flex; /*se utiliza flexbox para alinear el contenido*/
    flex-direction: column; /* Esto cambia la dirección para apilar los elementos */
    align-items: center;
    justify-content: center;
}

.contenedor .widget-1{
    grid-area: widget-1;
}

.contenedor .widget-2{
    grid-area: widget-2; 
}

/* Añado estilos para las imágenes en los widgets si es necesario */
.contenedor .widget-1 img,
.contenedor .widget-2 img {
  max-width: 100%; /* Esto me ajusta el ancho máximo para las imágenes */
  height: auto; /* Esto me ajusta la altura automáticamente para mantener la proporción */
}

.contenedor .pie{
    background: papayawhip;
    color: black;
    grid-area: pie; 
}

@media screen and (max-width: 768px){
    .contenedor{
        grid-template-areas:"encabezado encabezado encabezado"
                            "contenido contenido contenido"
                            "sidebar sidebar sidebar"
                            "widget-1 widget-1 widget-2"
                            "pie pie pie";
    }
}

@media screen and (max-width: 450px){
    .contenedor{
        grid-template-areas:"encabezado encabezado encabezado"
                            "contenido contenido contenido"
                            "widget-1 widget-1 widget-1"
                            "widget-2 widget-2 widget-2"
                            "sidebar sidebar sidebar"
                            "pie pie pie";
    }
}
